ol {  /* Type (element) selector – selects all <ol> elements */
  margin-left: -40px;
  margin-top: -20px;
  list-style-position: inside;
}

/* Write your CSS below, don't change the rules above. */

* {   /* Universal selector – selects all elements */
  text-align: center;
}

p {  /* Type (element) selector – selects all <p> elements */ 
  color: red;
}

.note { /* Class selector – selects elements with class="note" */
  font-size: 20px;
}

#id-selector-demo { /* ID selector – selects the element with id="id-selector-demo" */
  color: green;
}

li[value="4"] { 
  /* Attribute selector – selects <li> elements where value="4" */
  color: blue;
}
