img {   /* Type selector (img element) */
  height: 200px;
  width: 200px;
}

#red { /* ID selector (#red) */
  color: red;
}

#blue { /* ID selector (#blue) */
  color: skyblue;
}

#orange { /* ID selector (#orange) */
  color: orange;
}

#green { /* ID selector (#green) */
  color: green;
}

#yellow { /* ID selector (#yellow) */
  color: yellow;
}
