img {   /* Type Selector img*/  
    height: 200px;
    width: 200px;
}

#red { /*Id Selector Red*/
    color: red;
}

#blue{  /*Id Selector Blue*/
    color: skyblue;
}

#orange {   /*Id Selector Orange*/
    color: orange;
}

#green {    /*Id Selector Green*/
    color: green;
}

#yellow {   /*Id Selector Yellow*/
    color: yellow;
}
